<div class="jumbotron">
	<h2>Welcome to your own To Do List</h2>
	<h3>Do you forget things that need to be done sometime?? If so sign up to be our member. You can track your things from here after login. Make to do list</h3>
	<%= link_to "Sign Up", new_user_registration_path, class: "btn btn-primary" %>
	<%= link_to "Log In", new_user_session_path, class: "btn btn-primary" %>
</div>